* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    background-size: cover;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 2px solid #ebfffc;
    outline: 0;
    background: rgba(235, 255, 252, 0.8);
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.search input:focus {
    background: #ebfffc;
    border-color: #48bb78;
}

.search button {
    border: 2px solid #ebfffc;
    outline: 0;
    background: rgba(235, 255, 252, 0.8);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.search button:hover {
    background: rgba(235, 255, 252, 1);
    border-color: #48bb78;
}

.search button img {
    width: 16px;
}

.weather-card {
    max-width: 600px;
    background: rgba(178, 178, 178, 0.8);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    width: 90%;
    margin: 30px auto;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.weather-card.show {
    opacity: 1;
}

.weather-card.hide {
    opacity: 0;
    pointer-events: none;
}

.weather-icon {
    margin: 0 auto 20px;
    width: 150px;
    height: 150px;
}

.weather h1,
.weather h2,
.humidity,
.wind {
    color: #222;
    margin-bottom: 5px;
}

.weather h1 {
    font-size: 48px;
    font-weight: 500;
}

.weather h2 {
    font-size: 24px;
    font-weight: 400;
}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
    margin-right: 20px;
}

.col img {
    width: 30px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 18px;
    color: #555;
}

.weather {
    display: block;
}

.error {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    opacity: 0.9;
    display: none;
    color: #ff5252;
    background-color: #ffeeee;
    padding: 8px 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
